<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<html lang="en">
<head>
    <meta content="text/html;"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>easyUI</title>

    <link rel="stylesheet" type="text/css" th:href="@{jquery-easyui-1.8.6/themes/default/easyui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{jquery-easyui-1.8.6/themes/icon.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{jquery-easyui-1.8.6/demo/demo.css}" />

    <link rel="stylesheet" type="text/css" th:href="@{css/ManagerLogin.css}" />

    <script th:src="@{jquery-easyui-1.8.6/jquery.min.js}"></script>
    <script th:src="@{jquery-easyui-1.8.6/jquery.easyui.min.js}"></script>
</head>
<body>



</body>
</html>