<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<html lang="en">
<head>
    <meta content="text/html;" charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-3.4.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-3.4.1/css/bootstrap-theme.min.css}" />

    <link href="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/examples/signin/signin.css" rel="stylesheet">


    <title>PostQuestion</title>

</head>

<body>

    <div style="background-color: #0c7cd5; width: 100%; height: 60px;">
        <div class="container-fluid">
            <div style="width: 15%; float: left">
                <font>Welcome,<h5 th:text="${session.User.username}"></h5></font>
            </div>

            &nbsp;&nbsp;&nbsp;&nbsp;
            <div style="width: 15%; float: left">
                <font>Today's PM25 : <h5 th:text="${session.pm25}"></h5></font>
            </div>

            <ul class="nav navbar-nav pull-right">
                <li><button id="profile" class="btn btn-info" type="button">Profile</button></li>
                <li><button id="signout" class="btn btn-danger" type="button">Sign out</button></li>
            </ul>
        </div>
    </div>

        <br />

    <div class="container">

      <form action="#" th:action="@{/ccw/main/submitquestion}" th:object="${postquestion}" method="post">
        <h2 class="form-signin-heading">Please write your question</h2>

        <div class="form-group">
          <label for="InputTitle">Title</label>
          <input th:field="*{title}" class="form-control" type="text" placeholder="Title" id="title" required autofocus>
        </div>

        <div class="form-group">
          <label for="InputDescription">Description</label>
          <input th:field="*{description}" type="text" class="form-control" id="description" placeholder="Description">
        </div>

        <div class="form-group">
            <label for="VerCode">Vertification Code</label>
            <img alt="vertification_code" onclick="this.src='/ccw/main/getkaptcha?d='+new Date()*1" src="/ccw/main/getkaptcha" />
            <input type="text" class="form-control" id="vercode" placeholder="Vertification Code">
            <p id="errorVer" style="color: red"></p>
        </div>

        <button id="cancel" type="button" class="btn btn-info">Cancel</button>
        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>

<script src="https://fastly.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script th:src="@{/bootstrap-3.4.1/js/bootstrap.min.js}"></script>

<script th:inline="javascript">

    $('#profile').on('click', function () {
        window.location.href = "/ccw/main/profile";
      });

    $('#signout').on('click', function () {
        window.location.href = "/ccw/login/signout";
      });

    $('#cancel').on('click', function () {
        window.location.href = "/ccw/login/submit";
      });

    $("#vercode").blur(function() {

        $("#errorVer").text("");

        $.ajax({
            url : "/ccw/main/verifykaptcha",
            data : {
                verCode : $("#vercode").val()
            },
            type : "post",
            dataType : "json",

            success : function(response) {
                if (response.errMeg == "0") {

                } else if (response.errMeg == "1") {
                    $("#errorVer").text("This vertification code is not correct, please try again!");
                }
            },

            error : function(response, status, xhr) {
                alert("fail");
            }
        });


    });

</script>
</body>
</html>