<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<html lang="en">
<head>
    <meta content="text/html;" charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{bootstrap-3.4.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap-3.4.1/css/bootstrap-theme.min.css}" />

    <title>测试导航</title>

</head>

<body>

    <ul class="nav nav-pills nav-stacked" style="width: 40%; height: 100%">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Profile</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
    </ul>

<script src="https://fastly.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script th:src="@{bootstrap-3.4.1/js/bootstrap.min.js}"></script>

<script th:inline="javascript">

</script>
</body>
</html>