<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ccw.project.dao.CommentsMapper" >
  <resultMap id="BaseResultMap" type="com.ccw.project.entities.Comments" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="q_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="c_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="rating" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="content" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, q_id, c_id, time, rating, content
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from INFS3202.comments
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from INFS3202.comments
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ccw.project.entities.Comments" >
    insert into INFS3202.comments (id, q_id, c_id,
      time, rating, content
      )
    values (#{id,jdbcType=INTEGER}, #{qId,jdbcType=INTEGER}, #{cId,jdbcType=INTEGER}, 
      #{time,jdbcType=TIMESTAMP}, #{rating,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ccw.project.entities.Comments" >
    insert into INFS3202.comments
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="qId != null" >
        q_id,
      </if>
      <if test="cId != null" >
        c_id,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="rating != null" >
        rating,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="qId != null" >
        #{qId,jdbcType=INTEGER},
      </if>
      <if test="cId != null" >
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="rating != null" >
        #{rating,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ccw.project.entities.Comments" >
    update INFS3202.comments
    <set >
      <if test="qId != null" >
        q_id = #{qId,jdbcType=INTEGER},
      </if>
      <if test="cId != null" >
        c_id = #{cId,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="rating != null" >
        rating = #{rating,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ccw.project.entities.Comments" >
    update INFS3202.comments
    set q_id = #{qId,jdbcType=INTEGER},
      c_id = #{cId,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP},
      rating = #{rating,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getComments" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from INFS3202.comments where q_id = #{q_id,jdbcType=INTEGER} order by rating desc , time desc
  </select>
</mapper>