<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ccw.project.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.ccw.project.entities.User" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="username" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="image" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="salt" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="usertype" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sequs1" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="column_9" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="sequs2" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password, email, image, salt, usertype, sequs1, column_9, sequs2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from INFS3202.user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from INFS3202.user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ccw.project.entities.User" >
    insert into INFS3202.user (id, username, password,
      email, image, salt, 
      usertype, sequs1, column_9, 
      sequs2)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, 
      #{usertype,jdbcType=VARCHAR}, #{sequs1,jdbcType=VARCHAR}, #{column9,jdbcType=INTEGER}, 
      #{sequs2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ccw.project.entities.User" >
    insert into INFS3202.user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="salt != null" >
        salt,
      </if>
      <if test="usertype != null" >
        usertype,
      </if>
      <if test="sequs1 != null" >
        sequs1,
      </if>
      <if test="column9 != null" >
        column_9,
      </if>
      <if test="sequs2 != null" >
        sequs2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null" >
        #{usertype,jdbcType=VARCHAR},
      </if>
      <if test="sequs1 != null" >
        #{sequs1,jdbcType=VARCHAR},
      </if>
      <if test="column9 != null" >
        #{column9,jdbcType=INTEGER},
      </if>
      <if test="sequs2 != null" >
        #{sequs2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ccw.project.entities.User" >
    update INFS3202.user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null" >
        usertype = #{usertype,jdbcType=VARCHAR},
      </if>
      <if test="sequs1 != null" >
        sequs1 = #{sequs1,jdbcType=VARCHAR},
      </if>
      <if test="column9 != null" >
        column_9 = #{column9,jdbcType=INTEGER},
      </if>
      <if test="sequs2 != null" >
        sequs2 = #{sequs2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ccw.project.entities.User" >
    update INFS3202.user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      usertype = #{usertype,jdbcType=VARCHAR},
      sequs1 = #{sequs1,jdbcType=VARCHAR},
      column_9 = #{column9,jdbcType=INTEGER},
      sequs2 = #{sequs2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByUserName" parameterType="java.lang.String" resultType="java.lang.Integer" >
    select count(*) from INFS3202.user where username = #{username,jdbcType=VARCHAR}
  </select>

  <select id="selectByEmail" parameterType="java.lang.String" resultType="java.lang.Integer" >
    select count(*) from INFS3202.user where email = #{email,jdbcType=VARCHAR}
  </select>

  <select id="selectRecordByUsername" parameterType="java.lang.String" resultType="com.ccw.project.entities.User">
    select * from INFS3202.user where username = #{username,jdbcType=VARCHAR}
  </select>

  <select id="getSalt" parameterType="java.lang.String" resultType="java.lang.String">
    select salt from INFS3202.user where username = #{username,jdbcType=VARCHAR}
  </select>
  
  <select id="checkSequs1" parameterType="com.ccw.project.entities.User" resultType="java.lang.Integer">
    select count(*) from INFS3202.user where username = #{username,jdbcType=VARCHAR} and sequs1 = #{sequs1,jdbcType=VARCHAR}
  </select>

  <select id="checkSequs2" parameterType="com.ccw.project.entities.User" resultType="java.lang.Integer">
    select count(*) from INFS3202.user where username = #{username,jdbcType=VARCHAR} and sequs2 = #{sequs2,jdbcType=VARCHAR}
  </select>
  
  <update id="updatePassByUserName" parameterType="com.ccw.project.entities.User">
    update INFS3202.user
    set password = #{password,jdbcType=VARCHAR}
    where username = #{username,jdbcType=VARCHAR}
  </update>

  <update id="updateImgById" parameterType="com.ccw.project.entities.User">
    update INFS3202.user
    set image = #{image,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectAllUsers" resultMap="BaseResultMap">
    select * from INFS3202.user where id not in (select id from user where usertype = '1')
  </select>
  
  <delete id="deleteUser" parameterType="java.lang.Integer">
    delete from INFS3202.user where id = #{userId,jdbcType=INTEGER}
  </delete>
</mapper>